*{
    margin:0;
    padding: 0;
}

img{
    height: 30%;
    width: 50%;
    margin-left: 30%;
    

    
    
    
}

h2{
    font-size: 25px;
    margin-left: 30px;
    color: brown;
    
}

p{
    color:orange;
    text-shadow: 1px 2px black;
    text-decoration: underline;
}

ol li{
    color: rgba(0, 0, 0, 0.911);
    font-family:Georgia, 'Times New Roman', Times, serif
}

.funcion{
    color:rgba(255, 0, 0, 0.712);
    text-shadow: none;
    text-decoration: none;
    
}

span{
    text-decoration: underline;
    font-size: 20px;
    color:red
}

.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.plantilla{
    width: 130px;
    margin:20px;
    border-radius: 6px;
    overflow: hidden;
    border: solid 3px black
    

}


